# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
    
    epfc.jobeet.admin.category:
        class: Epfc\JobeetBundle\Admin\CategoryAdmin
        arguments: [~, Epfc\JobeetBundle\Entity\Category, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Category }
            
    epfc.jobeet.admin.job:
        class: Epfc\JobeetBundle\Admin\JobAdmin
        arguments: [~, Epfc\JobeetBundle\Entity\Job, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Jobs }
       
